<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script> -->
  <!-- <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script> -->
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico">
  <!-- <link type="image/png" sizes="96x96" rel="icon" href=""> -->

</head>
<!-- <link type="image/png" sizes="16x16" rel="icon" href=".../icons8-book-16.png">
<link type="image/png" sizes="32x32" rel="icon" href=".../icons8-book-32.png"> -->


<body>
  <table style="width:100%;max-width:900px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Daniil Dmitriev
              </h1>
              <p>I am a postdoc at the <a href="https://www.upenn.edu/">University of Pennsylvania</a>, hosted by <a href="https://yutingwei.github.io/">Yuting Wei</a> in the Department of Statistics and Data Science at the Wharton School.
              </p>
              <p>
                I work on theoretical foundations of machine learning, with a focus on high-dimensional statistics and modern generative models.
              </p>
              <p>I completed my PhD at <a href="https://www.ethz.ch/">ETH Zurich</a>, advised by <a href="https://people.math.ethz.ch/~abandeira/">Afonso Bandeira</a> and <a href="https://sml.inf.ethz.ch/group/fannyy/">Fanny Yang</a>,
                and supported by the <a href="https://ai.ethz.ch/">ETH AI Center</a> and <a href="https://math.ethz.ch/sfs/eth-foundations-of-data-science.html">ETH FDS initiative</a>.
              </p>
              
              <p style="text-align:center">
                <a href="https://scholar.google.com/citations?user=3_4gF8wAAAAJ&hl=en">Google Scholar</a> &nbsp;/&nbsp;
                <a href="/pdfs/cv_daniil.pdf"> CV </a> &nbsp;/&nbsp;
                <!-- <a target="_blank" href="https://mailhide.io/e/ZniB5ozt"> Email</a> &nbsp;/&nbsp; -->
                <!-- <a href="https://github.com/daniildmitriev">GitHub</a> &nbsp;/&nbsp; -->
                <a href="https://www.linkedin.com/in/daniil-dmitriev-48555bb9"> LinkedIn </a> &nbsp;/&nbsp;
                <a href="https://x.com/dmitrievdaniil7"> X </a> &nbsp;/&nbsp;
                <a href="https://bsky.app/profile/ddmitriev.bsky.social"> Blue sky </a>
              </p>
              Contact me at: daniildmitriev32@gmail.com.
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/photo_cropped.png">
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected publications and preprints</h2>
            </td>
          </tr>
        </table>

        <!-- DISCRETE DIFFUSION -->
<div style="padding-top:10px; padding-bottom:10px;">
  <h3 class="research-section"
      style="margin:0 2.5%; font-size:1.25em; font-weight:700;">
    Theory of discrete diffusion models
  </h3>
</div>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% if post.categories contains 'research' and post.research_area == 'diffusion' %}
          <tr>
            <!-- <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td> -->
            <td style="padding:0.5%;width:100%;vertical-align:middle;padding-left:10%">
              <div style="display:flex; width:100%; align-items:baseline;">

                <h3 style="margin:0; flex:1;">
                  {{ post.title }}
                </h3>

                <span style="width:220px; flex-shrink:0; display:flex; align-items:baseline;">

                  <span>
                    {% if post.arxiv %}<a href="{{post.arxiv}}">arxiv</a>{% endif %}
                    {% if post.video %} / <a href="{{post.video}}">video</a>{% endif %}
                    {% if post.poster %} / <a href="{{post.poster}}">poster</a>{% endif %}
                    {% if post.slides %} / <a href="{{post.slides}}">slides</a>{% endif %}
                  </span>

                  <span style="margin-left:auto; text-align:right;">
                    <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}
                  </span>

                </span>

              </div>
              {{post.authors}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!-- <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
              
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>

        <!-- LEARNING THEORY -->
<div style="padding-top:20px; padding-bottom:10px;">
  <h3 class="research-section"
      style="margin:0 2.5%; font-size:1.25em; font-weight:700;">
    Learning theory and robust statistics
  </h3>
</div>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% if post.categories contains 'research' and post.research_area == 'learning' %}
          <tr>
            <!-- <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td> -->
            <td style="padding:0.5%;width:100%;vertical-align:middle;padding-left:10%">
              <div style="display:flex; width:100%; align-items:baseline;">

                <h3 style="margin:0; flex:1;">
                  {{ post.title }}
                </h3>

                <span style="width:220px; flex-shrink:0; display:flex; align-items:baseline;">

                  <span>
                    {% if post.arxiv %}<a href="{{post.arxiv}}">arxiv</a>{% endif %}
                    {% if post.video %} / <a href="{{post.video}}">video</a>{% endif %}
                    {% if post.poster %} / <a href="{{post.poster}}">poster</a>{% endif %}
                    {% if post.slides %} / <a href="{{post.slides}}">slides</a>{% endif %}
                  </span>

                  <span style="margin-left:auto; text-align:right;">
                    <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}
                  </span>

                </span>

              </div>
              {{post.authors}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!-- <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
              
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>

        <!-- HIGH-DIMENSIONAL PROBABILITY -->
<div style="padding-top:20px; padding-bottom:10px;">
  <h3 class="research-section"
      style="margin:0 2.5%; font-size:1.25em; font-weight:700;">
    High-dimensional probability
  </h3>
</div>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
          {% if post.categories contains 'research' and post.research_area == 'probability' %}
          <tr>
            <!-- <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td> -->
            <td style="padding:0.5%;width:100%;vertical-align:middle;padding-left:10%">
              <div style="display:flex; width:100%; align-items:baseline;">

                <h3 style="margin:0; flex:1;">
                  {{ post.title }}
                </h3>

                <span style="width:220px; flex-shrink:0; display:flex; align-items:baseline;">

                  <span>
                    {% if post.arxiv %}<a href="{{post.arxiv}}">arxiv</a>{% endif %}
                    {% if post.video %} / <a href="{{post.video}}">video</a>{% endif %}
                    {% if post.poster %} / <a href="{{post.poster}}">poster</a>{% endif %}
                    {% if post.slides %} / <a href="{{post.slides}}">slides</a>{% endif %}
                  </span>

                  <span style="margin-left:auto; text-align:right;">
                    <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}
                  </span>

                </span>

              </div>
              {{post.authors}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <!-- <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
              
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
        </table>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Invited and contributed talks</h2>
            </td>
          </tr>

          {% for post in site.posts %}
            {% for cat in post.categories %}
              {% if cat == 'talk' %}

              <tr>
                <td style="padding:0.5%;width:100%;vertical-align:middle;padding-left:10%;">

                  <div style="display:flex;width:100%;align-items:baseline;">

                    <h3 style="margin:0;flex:1;">
                      {{ post.venue }}
                    </h3>

                    <span style="width:350px;flex-shrink:0;display:flex;align-items:baseline;">

                      <span>
                        {% if post.video %}
                          <a href="{{ post.video }}">video</a>
                        {% endif %}
                      </span>

                      <span style="margin-left:auto;text-align:right;">
                        <em>{{ post.location }}</em>, {{ post.date | date: "%Y" }}
                      </span>

                    </span>

                  </div>

                  {{ post.excerpt }}

                </td>
              </tr>

              {% endif %}
            {% endfor %}
          {% endfor %}

        </table>
        <br>
        <br>
<table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
  <tr>
    <td style="padding:2.5%;width:100%;vertical-align:middle">
      <h2>Teaching and Service</h2>
    </td>
  </tr>
</table>

<div style="padding-left:10%; padding-right:0.5%;">
  <p>ETH Zurich, TA: Mathematics of Data Science (Fall 2021), Mathematics of Machine Learning (Spring 2022)</p>

  <p>EPFL, TA: Artificial Neural Networks (Spring 2020, Spring 2021)</p>

  <p>Supervising MSc theses at ETH Zurich: Carolin Heinzler (Fall 2023), Krish Agrawal, Ulysse Faure (Spring 2024)</p>

  <p>Reviewer (Conferences): NeurIPS 2024 (Top reviewer), ICML 2025, ICLR 2025, ICLR 2026, COLT 2025, COLT 2026</p>

  <p>Reviewer (Journals): TMLR, SIAM Journal on Mathematics of Data Science</p>
</div>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>